<ul class="list-group">
    <li class="list-group-item">
      <a href data-ng-click="vm.show('create-view')">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create File</a>
    </li>
      <li class="list-group-item">
        <a href data-ng-click="vm.show('file-view')">
          <i class="fa fa-file-text-o" aria-hidden="true"></i> View Files</a>
      </li>
      <li class="list-group-item">
        <a href data-ng-click="vm.show('file-view')">
            <i class="fa fa-search" aria-hidden="true"></i> Search Files</a>
      </li>
</ul>
