<h2>View Files</h2>
<hr>
<select class="form-control" data-ng-model="vm.selectedUser">
  <option value="" selected>Select User</option>
  <option value="1">Shelly McFarlane</option>
</select>
<hr>
<table class="table table-hover">
      <thead>
        <tr>
          <th>File#</th>
          <th>Property</th>
          <th>Property Owner</th>
          <th>Volume#</th>
          <th>Folio#</th>
          <th>Parish</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>311235</td>
          <td>Scotts Hall</td>
          <td>Ethel Taylor</td>
          <td>1157</td>
          <td>241</td>
          <td>Saint Mary</td>
        </tr>
      </tbody>
    </table>
</div>
