<div class="row">
  <div class="col-md-12">
    <h2>View Files</h2>
    <hr>
    <p data-ng-show="vm.files.length < 1">
      There are <strong>{{vm.files.length}}</strong> files.
    </p>

    <table class="table table-hover capitalize" data-ng-show="vm.files.length > 0">
          <thead>
            <tr>
              <th>#</th>
              <th>File#</th>
              <th>Owner</th>
              <th>Volume#</th>
              <th>Folio#</th>
              <th>Parish</th>
              <th>Entered by</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="file in vm.files">
              <td>{{file.acc_id}}</td>
              <td>{{file.file_id}}</td>
              <td>{{file.owner_name}}</td>
              <td>{{file.volume}}</td>
              <td>{{file.folio}}</td>
              <td>{{file.parish}}</td>
              <td>{{file.user_first_name}} {{file.user_last_name}}</td>
              <td><a data-ng-href="#/files/{{file.acc_id}}">
                <i class="fa fa-external-link" aria-hidden="true"></i> View File</a>
              </td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
<!-- <h2>View Files</h2>
<hr>
<p data-ng-show="vm.files.length < 1">
  There are <strong>{{vm.files.length}}</strong> files.
</p>

<table class="table table-hover capitalize" data-ng-show="vm.files.length > 0">
      <thead>
        <tr>
          <th>#</th>
          <th>File#</th>
          <th>Owner</th>
          <th>Volume#</th>
          <th>Folio#</th>
          <th>Parish</th>
          <th>Entered by</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="file in vm.files" data-ng-click="vm.showDetail(file.acc_id)">
          <td>{{file.acc_id}}</td>
          <td>{{file.file_id}}</td>
          <td>{{file.owner_name}}</td>
          <td>{{file.volume}}</td>
          <td>{{file.folio}}</td>
          <td>{{file.parish}}</td>
          <td>{{file.user_first_name}} {{file.user_last_name}}</td>
        </tr>
      </tbody>
    </table> -->
